<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt</string>
	<key>CFBundleDisplayName</key>
	<string>Mudamos+</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1802796723310104</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>FacebookAppID</key>
	<string>1802796723310104</string>
	<key>FacebookDisplayName</key>
	<string>Mudamos</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>apps.tse.jus.br</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Não pedimos essa permissão</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Não pedimos essa permissão</string>
	<key>NSCameraUsageDescription</key>
	<string>Para você tirar uma foto para seu avatar</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Compartilhar sua localização permite buscar automaticamente seu CEP</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Para você escolher um avatar</string>
	<key>UIAppFonts</key>
	<array>
		<string>pt_sans_bold.ttf</string>
		<string>pt_sans_italic.ttf</string>
		<string>pt_sans.ttf</string>
		<string>pt_sans_bold_italic.ttf</string>
		<string>lato.ttf</string>
		<string>lato_light.ttf</string>
		<string>lato_light_italic.ttf</string>
		<string>lato_italic.ttf</string>
		<string>lato_hairline.ttf</string>
		<string>lato_hairline_italic.ttf</string>
		<string>lato_bold.ttf</string>
		<string>lato_bold_italic.ttf</string>
		<string>lato_black.ttf</string>
		<string>lato_black_italic.ttf</string>
		<string>roboto_black_italic.ttf</string>
		<string>roboto_black.ttf</string>
		<string>roboto_bold_italic.ttf</string>
		<string>roboto_bold.ttf</string>
		<string>roboto_italic.ttf</string>
		<string>roboto_light_italic.ttf</string>
		<string>roboto_light.ttf</string>
		<string>roboto_medium_italic.ttf</string>
		<string>roboto_medium.ttf</string>
		<string>roboto_thin_italic.ttf</string>
		<string>roboto_thin.ttf</string>
		<string>roboto.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
