<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Assinaturas Mudamos</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>
        SUBQUERY (
          extensionItems,
          $extensionItem,
          SUBQUERY (
            $extensionItem.attachments,
            $attachment,
            ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "org.mudamos.signer.message"
            ).@count == $extensionItem.attachments.@count
        ).@count == 1
      </string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ui-services</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>pt_sans_bold.ttf</string>
		<string>pt_sans_italic.ttf</string>
		<string>pt_sans.ttf</string>
		<string>pt_sans_bold_italic.ttf</string>
		<string>lato.ttf</string>
		<string>lato_light.ttf</string>
		<string>lato_light_italic.ttf</string>
		<string>lato_italic.ttf</string>
		<string>lato_hairline.ttf</string>
		<string>lato_hairline_italic.ttf</string>
		<string>lato_bold.ttf</string>
		<string>lato_bold_italic.ttf</string>
		<string>lato_black.ttf</string>
		<string>lato_black_italic.ttf</string>
		<string>roboto_black_italic.ttf</string>
		<string>roboto_black.ttf</string>
		<string>roboto_bold_italic.ttf</string>
		<string>roboto_bold.ttf</string>
		<string>roboto_italic.ttf</string>
		<string>roboto_light_italic.ttf</string>
		<string>roboto_light.ttf</string>
		<string>roboto_medium_italic.ttf</string>
		<string>roboto_medium.ttf</string>
		<string>roboto_thin_italic.ttf</string>
		<string>roboto_thin.ttf</string>
		<string>roboto.ttf</string>
	</array>
</dict>
</plist>
